
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490001566013'); /* IE9*/
  src: url('iconfont.eot?t=1490001566013#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490001566013') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490001566013') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490001566013#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye:before { content: "\e600"; }

.icon-iconfont10:before { content: "\e615"; }

.icon-xiaoyuan:before { content: "\e66f"; }

.icon-jineng:before { content: "\e616"; }

.icon-baoji:before { content: "\e617"; }

.icon-email:before { content: "\e61b"; }

.icon-person:before { content: "\e83b"; }

.icon-github:before { content: "\eaf6"; }

.icon-zhengshu:before { content: "\e665"; }

.icon-work:before { content: "\e6bb"; }

.icon-xuexiao:before { content: "\e604"; }

.icon-bylx:before { content: "\e609"; }

